name: Showcase Paralell Jobs

on: [push,workflow_dispatch]

env:
  MYPAT: ${{ secrets.MYPAT }}
  SHA: ${{ github.sha }}
  AZURE_STORAGE_ACCOUNT: ${{ secrets.AZURE_STORAGE_ACCOUNT }}
  AZURE_STORAGE_ACCESS_KEY: ${{ secrets.AZURE_STORAGE_ACCESS_KEY }}

jobs:
   Job01:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.MYPAT }}
          ref: fast
      - name: Build image
        env:
          ACR_NAME: ${{ secrets.ACR_NAME }}
        run: make build
      - name: Login to container registry
        env:
          SERVICE_PRINCIPAL_APP_ID: ${{ secrets.SERVICE_PRINCIPAL_APP_ID }}
          SERVICE_PRINCIPAL_SECRET: ${{ secrets.SERVICE_PRINCIPAL_SECRET }}
          SERVICE_PRINCIPAL_TENANT: ${{ secrets.SERVICE_PRINCIPAL_TENANT }}
          ACR_NAME: ${{ secrets.ACR_NAME }}
        run: make registry-login
      - name: Push image
        env:
          ACR_NAME: ${{ secrets.ACR_NAME }}
        run: make push
      - name: Get AKS credentials
        env:
          CLUSTER_RESOURCE_GROUP_NAME: ${{ secrets.CLUSTER_RESOURCE_GROUP_NAME }}
          CLUSTER_NAME: ${{ secrets.CLUSTER_NAME }}
        run: |
          az aks get-credentials \
            --resource-group $CLUSTER_RESOURCE_GROUP_NAME \
            --name $CLUSTER_NAME \
            --overwrite-existing
      - name: Deploy application
        env:
          ACR_NAME: ${{ secrets.ACR_NAME }}
        run: make deploy 
      - name: Create new file and upload it to blob container
        run: |
          export AZURE_STORAGE_ACCOUNT=$AZURE_STORAGE_ACCOUNT
          export AZURE_STORAGE_ACCESS_KEY=$AZURE_STORAGE_ACCESS_KEY
          env
          mkdir -p /tmp/showcase
          touch /tmp/showcase/build_number_$(date '+%Y%m%d%H%M%S').txt 

          cd /tmp/showcase/
          # Upload sample files to container
          az storage blob upload-batch -d showcase -s . --overwrite

   Commit-Next-Loop-Parallel-Jobs:
    timeout-minutes: 10
    needs: [Job01]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.MYPAT }}
      - name: Commit for triggering next parallel jobs
        run: |
          cd $GITHUB_WORKSPACE 
          version=$(cat ./version) 
          echo "$(($version+1))" > ./version 
          git config user.email "achebel75@gmail.com" 
          git config user.name "Ali Chebel"
          git pull 
          git add . 
          git commit -m "Launch parallel build-push-deploy jobs" && git push https://$MYPAT@github.com/achebel75/showcase.git HEAD:fast 
          rm -rf /tmp/showcase
    
