name: showcase

on: 
  push:
    branches: 
      - main
  workflow_dispatch:
    
env:
  MYPAT: ${{ secrets.MYPAT }}
  SHA: ${{ github.sha }}

jobs:
   build-push-deploy:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.MYPAT }}
      - name: Build image
        run: make build
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Push Docker image
        run: make push
      - name: AZ login
        env:
          SERVICE_PRINCIPAL_APP_ID: ${{ secrets.SERVICE_PRINCIPAL_APP_ID }}
          SERVICE_PRINCIPAL_SECRET: ${{ secrets.SERVICE_PRINCIPAL_SECRET }}
          SERVICE_PRINCIPAL_TENANT: ${{ secrets.SERVICE_PRINCIPAL_TENANT }}
        run: make az-login
      - name: Get AKS credentials
        env:
          CLUSTER_RESOURCE_GROUP_NAME: ${{ secrets.CLUSTER_RESOURCE_GROUP_NAME }}
          CLUSTER_NAME: ${{ secrets.CLUSTER_NAME }}
        run: |
          az aks get-credentials \
            --resource-group $CLUSTER_RESOURCE_GROUP_NAME \
            --name $CLUSTER_NAME \
            --overwrite-existing
      - name: Deploy application
        env:
          ACR_NAME: ${{ secrets.ACR_NAME }}
        run: make deploy 
      - name: Increment version and commit tag for the next loop
        run: |
          cd $GITHUB_WORKSPACE 
          version=$(cat ./version) 
          echo "$(($version +1))" > ./version 
          git config user.email "achebel75@gmail.com" 
          git config user.name "Ali Chebel"
          git add .
          git commit -m "showcase #$version)" && git push https://$MYPAT@github.com/achebel75/showcase.git HEAD:main        
